<div class="collapse navbar-collapse show" id="navbarWithDropdown">
  <nav class="navbar navbar-expand-xl navbar-light" style="background-color: #20CB87 ;">

    <ul class="navbar-nav">

      <a class="nav-link" href="/center_attention_employees">Centro de Atención - Empleados</a>
      <a class="nav-link" href="/pregnancy_controls">Control de Embarazo</a>
      <a class="nav-link" href="/tracings">Historia Clínica</a>



      <div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #20CB87 ;"> </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  href="/center_attentions">Centro de Atención</a></li>
    <li><a class="dropdown-item"  href="/doctors">Médico</a></li>
    <li><a class="dropdown-item"  href="/specialities">Especialidad</a></li>
    <li><a class="dropdown-item"  href="/babies">Bebé</a></li>
    <li><a class="dropdown-item"  href="/mothers">Madre</a></li>
    <li><a class="dropdown-item"  href="/mother_sons">Madre e Hijo</a></li>
    <li><a class="dropdown-item"  href="/directions">Dirección</a></li>
    <li><a class="dropdown-item"  href="/locations">Localidad</a></li>
    <li><a class="dropdown-item"  href="/provinces">Provincia</a></li>
    <li><a class="dropdown-item"  href="/countries">País</a></li>

  </ul>
</div>
    </ul>
  </nav>
</div>
