<div class="collapse navbar-collapse show" id="navbarWithDropdown">
  <nav class="navbar navbar-expand-xl navbar-light" style="background-color: #20CB87 ;">

    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" >
          Usuario
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><%= link_to "Editar Perfil", edit_user_registration_path, class: "btn" %></li>
          <hr>
          <li><%= link_to "Cerrar Sesión", destroy_user_session_path, class: "btn",  method: :delete  %></li>
        </ul>
      </li>
    <% else %>
      <%= link_to "Iniciar Sesión", new_user_session_url, class: 'btn btn-success' %>
    <% end %>
  </ul>

  </nav>
</div>
