
<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #20CB87 ;">
  <a class="nav-link active" aria-current="page" href="<%= root_url %>">Breastfeeding</a>
  <a class="nav-link" href="/center_attention_employees">Center_attention_employee</a>
  <a class="nav-link" href="/center_attentions">Center_attention</a>
  <a class="nav-link" href="/pregnancy_controls">Pregnancy_control</a>
  <a class="nav-link" href="/tracings">Tracing</a>
  <a class="nav-link" href="/doctors">Doctor</a>
  <a class="nav-link" href="/specialities">Speciality</a>
  <a class="nav-link" href="/mothers">Mother</a>
  <a class="nav-link" href="/babies">Baby</a>
  <a class="nav-link" href="/directions">Direcction</a>
  <%= render 'shared/user_menu' %>
</nav>
